---
import Layout from "../layouts/Layout.astro"
---

<Layout
    title="Paty Cuenca's blog"
    description="Blog about Engineering Management, leadership, and in general navigating the difficult but rewarding tech industry"
>
    <h1>Home</h1>
</Layout>
