---
import BlogPost from "../components/BlogPost.astro"
import Layout from "../layouts/Layout.astro"
const pageTitle = "An Engineering Manager in the wild appears!"
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }))
---

<Layout
    title={pageTitle}
    description="Blog about Engineering Management, leadership, and in general navigating the difficult but rewarding tech industry"
>
    <main>
        <section class="mt-12">
            <h1>{pageTitle}</h1>
            {
                allPosts.reverse().map((post) => (
                    <article>
                        <BlogPost post={post} />
                    </article>
                ))
            }
        </section>
    </main>
</Layout>
