---
import Layout from "../layouts/Layout.astro"
import Batch from "../components/Batch.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHub from "../icons/GitHub.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import Twitter from "../icons/Twitter.astro"
import Email from "../icons/Email.astro"
import Experience from "../icons/Experience.astro"
import ProjectsIcon from "../icons/ProjectsIcon.astro"
import Timeline from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import About from "../icons/About.astro"
import Search from "../icons/Search.astro"
import RecommendationsIcon from "../icons/RecommendationsIcon.astro"
import Recommendations from "../components/Recommendations.astro"
---

<Layout
    title="Paty Cuenca's portfolio - Senior Engineering Manager and Frontend Developer"
    description="Paty Cuenca is a Senior Engineering Manager and Frontend Developer with +15 years of experience. Specialised in leading autonomous and high-performing Frontend teams. Tinkering with frontend development non-professinally (so to not to get exceedingly rusty)."
>
    <main class="mx-auto flex flex-wrap w-9/12">
        <!-- Section: Intro -->
        <section class="mt-12" id="#top">
            <h1 class="text-white">Hi, I am Paty 🙋🏻‍♀️</h1>
            <h2 class="text-balance uppercase">Senior Engineering Manager</h2>
            <h3>12 years of experience as a Manager + 8 years of experience as a software developer</h3>
            <p>From sunny <span class="text-cyan-500">Barcelona</span> ☀️.</p>
            <p>Specialised in leading autonomous and high-performing Frontend teams</p>
            <p>Tinkering with frontend development non-professionally (so to not to get exceedingly rusty)</p>
            <div>
                <Batch color="green">Open to work</Batch>
                <Batch color="yellow">IC Management</Batch>
                <Batch color="yellow">Leader of leaders</Batch>
                <Batch color="blue">Front End</Batch>
                <Batch color="blue">JavaScript</Batch>
                <Batch color="blue">React</Batch>
            </div>
            <ul class="flex gap-x-4 mt-4 leading-none">
                <li class="">
                    <SocialPill href="https://www.linkedin.com/in/patycu/">
                        <LinkedIn class="size-5" />
                        LinkedIn
                    </SocialPill>
                </li>
                <li>
                    <SocialPill href="https://github.com/PatyCu">
                        <GitHub class="size-5" />
                        GitHub
                    </SocialPill>
                </li>
                <li>
                    <SocialPill href="https://twitter.com/patycuEM">
                        <Twitter class="size-5" />
                        Twitter
                    </SocialPill>
                </li>
                <li>
                    <SocialPill href="mailto:hola@patycuenca.com">
                        <Email class="size-5" />
                        hola@patycuenca.com
                    </SocialPill>
                </li>
            </ul>
        </section>
        <section class="mt-8" id="looking">
            <h2 class="text-white flex w-full gap-x-2 py-4"><Search class="size-10" /> What am I looking for</h2>
            <p>
                I am looking for <span class="text-cyan-500">Senior Engineering Manager</span> positions either <span
                    class="text-cyan-500">hybrid in Barcelona</span
                >
                or <span class="text-cyan-500">remote</span>. I would also consider Engineering Manager positions if the
                project and the company are compelling enough.
            </p>
            <p>
                I have more than 10 years of experience leading mostly Frontend teams (React stack), but I am more than
                open to manage backend teams too!
            </p>
            <p>
                The perfect job would be leading a group of teams and being the people manager for both ICs and other
                Engineering Managers.
            </p>
            <p>
                I would also be happy leading a team of high-performing ICs, bonus points if the team has potential for
                growth and I can help them do it in an efficient and orderly manner!
            </p>
        </section>
        <section class="mt-8" id="about">
            <h2 class="text-white flex w-full gap-x-2 py-4"><About class="size-10" />About me</h2>
            <p>
                I am a Senior Engineering Manager with more than 10 years of experience leading software engineering
                teams in agile environments, and leading and mentoring other Engineering Managers.
            </p>
            <p>Before that I was a software <span class="text-cyan-500">developer for 8 years</span>.</p>
            <p>
                I have a track record of building and growing high-performing teams, which in my book means teams that
                are autonomous, accountable, deliver quality software incrementally, and learn from their own mistakes.
            </p>
            <p>
                My values are <span class="text-cyan-500">respect</span> (both for others and myself), <span
                    class="text-cyan-500">honesty</span
                >, <span class="text-cyan-500">transparency</span>, and <span class="text-cyan-500">responsibility</span
                >.
            </p>
            <p>
                Above all else, I am a flawed human being who tries her best to be a good person and a good
                professional. I thrive on bringing order to chaos, solving problems, and helping others reach their full
                potential.
            </p>
        </section>
        <section class="mt-8" id="experience">
            <h2 class="text-white flex w-full gap-x-2 py-4"><Experience class="size-12" /> Experience</h2>
            <div class="mt-4">
                <Timeline />
            </div>
        </section>
        <section class="mt-8" id="projects">
            <h2 class="text-white flex w-full gap-x-2"><ProjectsIcon class="size-9 mt-1" />Projects</h2>
            <div class="mt-4"><Projects /></div>
        </section>
        <section class="mt-8" id="recommendations">
            <h2 class="text-white flex w-full gap-x-2 py-4"><RecommendationsIcon class="size-10" /> Recommendations</h2>
            <Recommendations />
        </section>
    </main>
</Layout>
