---
import Layout from '../layouts/Layout.astro';
import Batch from '../components/Batch.astro';
---

<Layout title="Paty Cuenca's portfolio">
	<main class="flex justify-center">
		<!-- Section: Intro -->
		<section class="mt-12">
			<h1 class="text-white">Hi, I am Paty.</h1>
			<h2>Senior Engineering Manager and Front End Developer.</h2>
			<h3>+15 years of experience.</h3>
			<p>From sunny <span class="text-cyan-500">Barcelona</span> ☀️. </p>
			<p>Specialised in leading autonomous and high-performing front-end teams</p>
			<p>Tinkering with front-end development non-professinally (so to not to get exceedingly rusty)</p>
			<div>
				<Batch color="green">Looking for opportunities</Batch>
				<Batch color="yellow">IC Management</Batch>
				<Batch color="yellow">Leader of leaders</Batch>
			</div>
		</section>
	</main>
</Layout>
