---
import { RECOMMENDATIONS } from "../../data/RECOMMENDATIONS"
import RecommendationItem from "./RecommendationItem.astro"
---

<ol class="grid gap-x-10 gap-y-16 md:grid-cols-2 md:gap-x-14 md:gap-y-20">
    {
        RECOMMENDATIONS.map((recommendation) => {
            return (
                <li>
                    <RecommendationItem {recommendation} />
                </li>
            )
        })
    }
</ol>
