---
import PostLayout from "../layouts/PostLayout.astro"

const { post } = Astro.props
//const { Content } = Astro.props.post
console.log(post.url)
---

<PostLayout frontmatter={post.frontmatter}>
    <div>
        <p>{post.frontmatter.description}</p>
        <a href={post.url} class="text-cyan-500 underline hover:text-white"> Read more</a>
    </div>
</PostLayout>
