---
import patycu_avatar from "../img/patycu_avatar.png"
---

<header class="flex flex-wrap basis-full w-full mt-10 justify-between p-8">
    <img src={patycu_avatar.src} alt="Paty avatar photo" class="rounded-full size-12" />
    <nav>
        <ul class="flex flex-row gap-x-10 opacity-90">
            <li><a href="/" class="hover:text-white active:text-cyan-500">Home</a></li>
            <li><a href="#about" class="hover:text-white active:text-cyan-500">About</a></li>
            <li><a href="#experience" class="hover:text-white active:text-cyan-500">Experience</a></li>
            <li><a href="#recommendations" class="hover:text-white active:text-cyan-500">Recommendations</a></li>
            <li><a href="/blog" class="hover:text-white active:text-cyan-500">Blog</a></li>
            <!-- <li><a href="#projects">Projects</a></li> -->
        </ul>
    </nav>
</header>
