---
import patycu_avatar from "../img/patycu_avatar.png"
---

<header class="mt-10 justify-between flex flex-row">
    <div class="basis-1/12 my-auto">
        <img src={patycu_avatar.src} alt="Paty avatar photo" class="rounded-full size-6 md:size-24 object-contain" />
    </div>

    <nav class="basis-10/12">
        <ul class="flex flex-wrap opacity-90 justify-around items-center">
            <li class="basis-auto">
                <a href="/" class="hover:text-fuchsia-300  active:text-cyan-500">Home</a>
            </li>
            <li class="basis-auto">
                <a href="/#about" class="hover:text-fuchsia-300 active:text-cyan-500">About</a>
            </li>
            <li class="basis-auto">
                <a href="/#experience" class="hover:text-fuchsia-300 active:text-cyan-500">Experience</a>
            </li>
            <li class="basis-auto"><a href="/#projects" class="hover:text-fuchsia-300 active:text-cyan-500">Projects</a></li>
            <li class="basis-auto">
                <a href="/#recommendations" class="hover:text-fuchsia-300 active:text-cyan-500">Recommendations</a>
            </li>
            <li class="basis-auto">
                <a href="/blog" class="hover:text-fuchsia-300 active:text-cyan-500">Blog</a>
            </li>
        </ul>
    </nav>
</header>
