---
import patycu_avatar from '../img/patycu_avatar.png';
---
<header class="flex flex-wrap basis-full w-full mt-10 justify-between p-8">
    <nav>
        <ul class="flex flex-row gap-x-10">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>