---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "@fontsource/barlow"

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="relative h-full w-full border border-transparent">
            <div
                class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px]
          w-[500px] xl:h-[1000px] xl:w-[1500px] 2xl:h-[1000px] 2xl:w-[1500px]
          rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
            >
            </div>
            <div
                class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px]
          xl:h-[1100px] xl:w-[1100px] 2xl:h-[1000px] 2xl:w-[1500px] rounded-full
          bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
            >
            </div>
        </div>
        <div class="absolute left-0 top-0">
            <div class="relative mx-auto p-8 md:p-12 max-w-7xl">
                <Header />
                <slot />
                <Footer />
            </div>
        </div>
    </body>
</html>
<style is:global>
    :root {
        color-scheme: light dark;
    }
    html {
        font-family: "Barlow", sans-serif;
        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
    }

    body {
        display: flex;
        justify-content: center;
        background-color: #323949;
        color: #d8f2f6;
        line-height: 2;
        /*min-height: 100vh;*/
    }
    /*
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
    */

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
</style>
