---
import { RECOMMENDATIONS } from "../../data/RECOMMENDATIONS"
import RecommendationItem from "./RecommendationItem.astro"
---

<ol class="grid gap-5 md:grid-cols-2">
    {
        RECOMMENDATIONS.map((recommendation) => {
            return (
                <li>
                    <RecommendationItem {recommendation} />
                </li>
            )
        })
    }
</ol>
